@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-image: url(../img/outerspace-77.gif);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title__tourn {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.48);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.text__pink {
  background-color: #f7b53d;
  width: 136px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Paytone One", sans-serif;
}
.text__mine {
  font-size: 65px;
  font-family: "Orbitron", sans-serif;
}
.text__mine span {
  font-size: 30px;
}

.for-stream {
  width: 350px;
}

.table-turnir {
  width: 100%;
  height: 55%;
  background-color: rgba(14, 14, 14, 0.48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}
.block1__path1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.block1__path1-allteam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block1__path1-nextstage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block1__path1-all {
  display: flex;
  flex-direction: column;
}
.block1__path2 {
  background: url(../img/tornament.png) center no-repeat;
  background-size: 100%;
  height: 165px;
  width: 500px;
  margin: 40px 20px 0px 20px;
}
.block1__path3-allteam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block1__path3-nextstage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path3-allteam {
  display: flex;
}

.path3-nextstage {
  display: flex;
}

.title-stage {
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  color: #FFF;
}

.team {
  width: 126px;
  height: 30px;
  background: #FFF;
  margin: 18px 10px 0px 10px;
  border-radius: 7px;
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
  border: 1px solid #747171;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-style {
  background-color: #959595;
}

.next__session {
  width: 98%;
  padding: 14px 0px 14px 73px;
  display: flex;
  justify-content: space-between;
}

.table-style {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: rgba(233, 162, 140, 0.78);
  border-radius: 5px;
}

th {
  font-size: 15px;
  font-weight: 400;
  padding: 1px 19px;
  border-bottom: 2px solid #F56433;
  color: rgb(51, 11, 11);
}

.imgsize {
  width: 20px;
  height: 20px;
}

.youtube-time {
  background-color: rgba(255, 255, 255, 0.3);
  width: 45%;
  margin-right: 41px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  position: relative;
}

.youtube-time iframe {
  position: absolute;
  bottom: 11%;
  right: 5%;
  width: 39%;
  height: 71%;
  border-width: 0;
  outline-width: 0;
}

.podval {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__minenew {
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  color: #FFF;
  opacity: 0.5;
}