@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-image: url(../img/outerspace-77.gif);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title__tourn {
  width: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.48);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.text__pink {
  background-color: #f7b53d;
  width: 350px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Paytone One", sans-serif;
}
.text__mine {
  font-size: 65px;
  font-family: "Orbitron", sans-serif;
}
.text__mine span {
  font-size: 30px;
}

.table-turnir {
  width: 100%;
  height: 55%;
  margin: 20px 0px 0px 0px;
  background-color: rgba(14, 14, 14, 0.48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}
.block1__path1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.block1__path1-allteam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block1__path1-nextstage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block1__path1-all {
  display: flex;
  flex-direction: column;
}
.block1__path2 {
  background: url(../img/tornament.png) center no-repeat;
  background-size: 100%;
  height: 165px;
  width: 500px;
  margin: 40px 20px 0px 20px;
}
.block1__path3-allteam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block1__path3-nextstage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path3-allteam {
  display: flex;
}

.path3-nextstage {
  display: flex;
}

.title-stage {
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  color: #FFF;
}

.team {
  width: 126px;
  height: 30px;
  background: #d1ffff;
  margin: 18px 10px 0px 10px;
  border-radius: 7px;
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
  border: 1px solid #747171;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team:hover {
  background: #37c0c0;
}

.text-style {
  background-color: #959595;
}

.next__session {
  margin: 80px 0px 0px 30px;
  display: flex;
  justify-content: space-between;
}

.table-style {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 10px;
  background-color: rgba(135, 208, 222, 0.79);
  border-radius: 5px;
}

th {
  font-size: 15px;
  font-weight: 400;
  padding: 1px 19px;
  border-bottom: 2px solid #596e74;
  color: rgb(51, 11, 11);
}

.imgsize {
  width: 23px;
  height: 32px;
}

.youtube-time {
  background-color: rgba(255, 255, 255, 0.3);
  width: 45%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  position: relative;
  right: 4%;
}

.youtube-time iframe {
  position: absolute;
  bottom: 11%;
  right: 5%;
  width: 90%;
  height: 71%;
  border-width: 0;
  outline-width: 0;
}

.podval {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.text__minenew {
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  color: #FFF;
  opacity: 0.5;
}

.js__button {
  position: fixed;
  top: 14%;
  left: 34%;
  width: 32%;
  height: 36%;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid gray;
  border-radius: 10px;
}

.js__button.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  background-color: rgba(112, 211, 255, 0.39);
  z-index: 100;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.js__title {
  font-size: 25px;
  margin-bottom: 15px;
  color: transparent;
  background-image: linear-gradient(#462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  -webkit-background-clip: text;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  font-family: "Orbitron", sans-serif;
  -webkit-text-stroke: 0.3px rgb(188, 192, 115);
}
.js__title-team {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-family: "Saira Condensed", sans-serif;
}
.js__class {
  margin: 0px 20px 20px 0px;
  width: 96px;
  border-radius: 10px;
  padding: 2px 7px;
  background-color: rgba(255, 255, 255, 0.47);
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
}

.js__class:last-child {
  margin: 0px 20px 0px 0px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  margin-bottom: 30px;
}

.btn-cancel {
  border-radius: 10px;
  background: rgba(65, 176, 170, 0.56);
  padding: 5px 30px;
}

@media screen and (max-width: 1400px) {
  th {
    padding: 1px 16px;
  }
  .text__mine {
    font-size: 50px;
  }
}
@media screen and (max-width: 1265px) {
  th {
    padding: 1px 13px;
  }
  .imgsize {
    width: 22px;
    height: 27px;
  }
  .team {
    width: 108px;
    margin: 10px 7px 0px 7px;
  }
  .youtube-time {
    width: 39%;
  }
}
@media screen and (max-width: 1004px) {
  .next__session {
    margin: 50px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .youtube-time {
    width: 58%;
    padding: 0px 0px 352px 0px;
    margin-top: 30px;
    justify-content: center;
    right: 0%;
  }
  .js__button.active {
    padding: 10px;
  }
  .js__button {
    height: 52%;
  }
  .js__title {
    font-size: 19px;
  }
  .js__title-team {
    margin-bottom: 10px;
  }
  .btn-cancel {
    padding: 3px 10px;
  }
}
@media screen and (max-width: 850px) {
  .title-stage {
    font-size: 14px;
  }
  .table-turnir {
    height: 80%;
  }
  .block1__path2 {
    margin: 0 10px 0 10px;
    background: url(../img/mobilebg.jpg) center no-repeat;
    background-size: contain;
    height: 243px;
    width: 100%;
  }
  .team {
    width: 90px;
  }
  .text__mine {
    font-size: 40px;
  }
  .players {
    margin-bottom: 20px;
  }
  .js__class {
    margin: 0px 20px 10px 0px;
    font-size: 13px;
  }
  .js__button {
    height: 51%;
  }
}
@media screen and (max-width: 814px) {
  .js__button {
    width: 20%;
    top: 21%;
    left: 40%;
  }
}
@media screen and (max-width: 640px) {
  .title-stage {
    font-size: 12px;
  }
  .text__mine {
    font-size: 30px;
  }
  .text__pink {
    font-size: 15px;
  }
  th {
    padding: 1px 10px;
  }
  .imgsize {
    width: 20px;
    height: 23px;
  }
  .team {
    width: 87px;
    height: 23px;
  }
  .youtube-time {
    width: 72%;
  }
  .js__button {
    width: 27%;
    top: 21%;
    left: 35%;
  }
  .js__title {
    font-size: 15px;
  }
}
@media screen and (max-width: 588px) {
  .team {
    width: 82px;
    height: 17px;
    font-size: 13px;
  }
  .table-turnir {
    padding: 12px 0px 12px 0px;
  }
  .next__session {
    margin: 35px 0px 0px 0px;
  }
  th {
    padding: 1px 7px;
    font-size: 13px;
  }
  .imgsize {
    width: 20px;
    height: 21px;
  }
  .youtube-time {
    width: 67%;
    padding: 0px 0px 251px 0px;
  }
}
@media screen and (max-width: 550px) {
  .block1 {
    flex-direction: column;
    height: 100%;
  }
  .block1__path2 {
    background: url(../img/tornament.png) center no-repeat;
    background-size: contain;
    margin: 10px 0px 10px 0px;
    height: 100px;
  }
  .table-turnir {
    height: 115%;
    margin: 41px 0px 0px 0px;
  }
  .js__title {
    font-size: 13px;
  }
}
@media screen and (max-width: 456px) {
  .youtube-time {
    width: 73%;
    padding: 0px 0px 210px 0px;
  }
  th {
    padding: 1px 6px;
    font-size: 12px;
  }
  .imgsize {
    width: 15px;
    height: 18px;
  }
  .table-turnir {
    margin: 15px 0px 0px 0px;
  }
  .js__button {
    width: 32%;
  }
}
@media screen and (max-width: 400px) {
  .youtube-time {
    width: 81%;
    padding: 0px 0px 170px 0px;
  }
  .next__session {
    margin: 25px 0px 0px 0px;
  }
  .js__button {
    width: 34%;
  }
}