.wrappet {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 86%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.48);
  margin: 80px 100px;
}

.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

#large-header {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
.block1__path1 {
  display: flex;
  flex-direction: row;
}
.block1__path1-allteam {
  display: flex;
  flex-direction: column;
}
.block1__path1-nextstage {
  display: flex;
  flex-direction: column;
}

.team {
  width: 100px;
  height: 30px;
  background: #FFF;
}