@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


.large-header {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

#large-header {
  background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}


.title {

	&__tourn {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 175px;
		background: rgb(255 255 255 / 48%);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}
.text {

	&__pink {
		background-color: #f7b53d;
		width: 136px;
		height: 28px;
		border-radius: 5px;
		text-align: center;
		font-size: 23px;
		font-family: "Paytone One", sans-serif;
	}

	&__mine {
		font-size: 100px;
		font-family: "Orbitron", sans-serif;
		& span{
			font-size: 50px;
		}
	}
}


.table-turnir{
	position: absolute;
    top: 23%;
    left: 0px;
    width: 100%;
    height: 43%;
	//  background-color: rgb(255 255 255 / 48%);
	 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block1 {
	display: flex;
   flex-direction: row;
   justify-content: space-between;
	align-items: center;
	width: 82%;
		&__path1 {
			display: flex;
			flex-direction: row;
			justify-content: center;
    		align-items: center;
			 margin-bottom: 20px;
		}

		&__path1-allteam {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__path1-nextstage {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__path1-all{
			display: flex;
			flex-direction: column;
		}
		&__path2{
			background: url(../img/tornament.png) center no-repeat;
			background-size: 100%;
			height: 165px;
    		width: 500px;
    		margin: 40px 20px 0px 20px
		}
		
		&__path3-allteam {
			display: flex;
			flex-direction: column;
    		align-items: center;
		}
		&__path3-nextstage{
			display: flex;
			flex-direction: column;
    		align-items: center;
		}
}
.path3-allteam{
	display: flex;
}
.path3-nextstage{
	display: flex;
}
.title-stage {
	font-size: 16px;
	font-family: "Orbitron", sans-serif;
	font-weight: 500;
	color: #FFF;
	
}
.team {
	width: 126px;
	height: 30px;
	background: #FFF;
	margin: 18px 10px 0px 10px;
	border-radius: 4px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #747171;
}
.text-style{
	background-color: #959595;
}


.table-style{
	text-align: center;
	border-collapse: collapse;
	border-spacing: 5px;
	background-color: #f4d5cb;
	position:absolute;
}
th {
	font-size: 18px;
   font-weight: 400;
   padding: 9px 25px;
	border-bottom: 2px solid #F56433;
	color: rgb(51, 11, 11);
}
.imgsize{
	width: 40px;
	height: 40px;
}

