@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


.large-header {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
//   overflow: hidden;
  background-size: cover;
  background-position: center center;
}

#large-header {
  background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}


.title {
	&__tourn {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90px;
		background: rgb(255 255 255 / 48%);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}
.text {

	&__pink {
		background-color: #f7b53d;
		width: 136px;
		height: 28px;
		border-radius: 5px;
		text-align: center;
		font-size: 23px;
		font-family: "Paytone One", sans-serif;
	}

	&__mine {
		font-size: 65px;
		font-family: "Orbitron", sans-serif;
		& span{
			font-size: 30px;
		}
	}
}
.for-stream{
	width: 350px;
}


.table-turnir{
	position: absolute;
    top: 14%;
    left: 0px;
    width: 100%;
    height: 42%;
	//  background-color: rgb(255 255 255 / 48%);
	 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block1 {
	display: flex;
   flex-direction: row;
   justify-content: space-between;
	align-items: center;
	width: 82%;
		&__path1 {
			display: flex;
			flex-direction: row;
			justify-content: center;
    		align-items: center;
			 margin-bottom: 20px;
		}

		&__path1-allteam {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__path1-nextstage {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__path1-all{
			display: flex;
			flex-direction: column;
		}
		&__path2{
			background: url(../img/tornament.png) center no-repeat;
			background-size: 100%;
			height: 165px;
    		width: 500px;
    		margin: 40px 20px 0px 20px
		}
		
		&__path3-allteam {
			display: flex;
			flex-direction: column;
    		align-items: center;
		}
		&__path3-nextstage{
			display: flex;
			flex-direction: column;
    		align-items: center;
		}
}
.path3-allteam{
	display: flex;
}
.path3-nextstage{
	display: flex;
}
.title-stage {
	font-size: 16px;
	font-family: "Orbitron", sans-serif;
	font-weight: 500;
	color: #FFF;
	
}
.team {
	width: 126px;
	height: 30px;
	background: #FFF;
	margin: 18px 10px 0px 10px;
	border-radius: 4px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #747171;
}
.text-style{
	background-color: #959595;
}

.next__session{
	position:absolute;
	bottom: 4%;
   left: 0;
	width: 100%;
	padding: 14px 0px 14px 73px;
	display: flex;
	justify-content: space-between;
	
}
.table-style{
	text-align: center;
	border-collapse: collapse;
	border-spacing: 5px;
	background-color:rgb(233 162 140 / 78%);
	border-radius: 5px;
}
th {
	font-size: 15px;
   font-weight: 400;
   padding: 1px 19px;
	border-bottom: 2px solid #F56433;
	color: rgb(51, 11, 11);
}
.imgsize{
	width: 20px;
	height: 20px;
}

.youtube-time{
	background-color: rgb(255 255 255 / 30%);
	width: 46%;
	// height: 383px;
	margin-right: 41px;
	border-radius: 15px;
  	overflow: hidden;
	display: flex;
	justify-content: center;
	padding-top: 15px;
}
.youtube-time iframe{
	position: absolute;
	bottom: 11%;
	right: 5%;
	width: 39%;
	height: 71%;
	border-width: 0;
	outline-width: 0;
}

.podval{
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text__minenew{
	font-size: 16px;
	font-family: "Orbitron", sans-serif;
	color: #FFF;
	opacity: 0.5;
}

@media screen and (max-width: 1778px) {
	.team{
		width: 140px;
    	height: 20px;
	}
	th{
		padding: 1px 17px;
	}
	.table-turnir{
		top:11%;
	}
}

@media screen and (max-width: 1594px) {
	// body{
	// 	height: 900px;
	// }
	.text__mine {
		font-size: 37px;
	  }
	  .text__pink{
		  font-size: 16px;
	  }
	  .title-stage{
		  font-size: 14px;
	  }
	  .title__tourn{
		  height: 60px;
	  }
	.table-turnir{
		height: 50%;
	}
	.imgsize{
		width: 10px;
		height: 10px;
	}
	.next__session{
		padding: 0px 0px 0px 73px;;
	}
	.youtube-time iframe {
    bottom: 7%;
    right: 11%;
    width: 27%;
    height: 73%;
	}
}
@media screen and (max-width: 1315px) {
	.team{
		margin: 6px 10px 0px 10px;
	}
	.block1{
		width: 75%;
	}
	.block1__path2 {
    height: 165px;
    width: 263px;
    margin: 20px 10px 0px 10px;
	}
	 th {
    padding: 1px 12px;
	}
}
@media screen and (max-width: 1250px) {
	.table-turnir {
    height: 43%;
	}
	th {
    padding: 0px 8px;
	}
	.youtube-time{
		width: 43%;
	}
}

@media screen and (max-width: 880px) {
	body{
		height: 1000px;
	}
	.table-turnir {
		height: 44%;
  }
  .block1__path1{
	flex-wrap: wrap;
  }
  th{
	font-size: 8px;
  }


}
